body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", "Century Gothic", sans-sarif;
  background-color: #f5f5f5;
}

/* GENERAL STYLING */
span {
	color: #990012;
}

a {
	color: #000;
	transition: .5s;
}

a:hover {
	color: #FBB829 !important;
}

p {
  font-size: 1.3rem
}

#main {
  margin-left: 35%;
  padding: 3em 0;
  width: calc(100% - 35%);
}

@media screen and (max-width: 980px) {
  #main {
    margin: 0;
    width: 100%;
  }
}

.col a {
  margin-top: 10px;
}

.accent {
	color: #990012 !important;
}

.hidden {
	display: none !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bot {
  margin-bottom: 0 !important;
}

.card-container {
  width: 80%;
  margin: auto;
}

.card-panel {
	padding: 12px 24px 12px 24px !important;
  border-radius: 8px;
}

.card {
  border-radius: 8px !important;
}

.video-container {
  border-radius: 8px 8px 0 0;
}

.card-title {
  font-size: 2em !important;
  font-weight: 600 !important;
}

.card-action:last-child {
  border-radius: 0 0 8px 8px !important;
  font-size: 1.2em;
  font-weight: 600;
}

/* ABOUT STYLING */

blockquote {
  border-left: 5px solid #FBB829;
  margin: 0 20%;
  font-family: 'Cherry Swash', cursive;
  font-size: 1.7rem;
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 992px) {
  .bio {
    margin-top: 5vh;
  }
}

.article {
	white-space: pre-line;
  font-size: 1.3rem;
}

.fa {
	/* color: #990012; */
  color: #fff;
  text-shadow: 1px 1px #000;
	transition: .5s;
}

.fa:hover {
	color: #FBB829;
}

/* APPSHOWCASE STYLING */
#appshowcase {
  max-height: 75vh;
}

.app-btn {
  background-color: #990012 !important;
  -webkit-appearance: none;
  transition: .5s;
}

/* SKILLS STYLING */
.icon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.icon-list li img {
  margin: 0 auto;
  max-height: 5em;
  max-width: 6em;
}

/* CSSTransitions STYLING */
.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1500ms;
}

/* FORMS STYLING */

/* label focus color */
  .input-field input[type=text]:focus + label {
    color: #990012 !important;
  }
/* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #990012 !important;
    box-shadow: 0 1px 0 0 #000 !important;
  }
/* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #990012 !important;
    box-shadow: 0 1px 0 0 #ff9800 !important;
  }
/* icon prefix focus color */
  .input-field .prefix.active {
    color: #990012;
  }
  .input-field textarea:focus {
    border-bottom: 1px solid #990012 !important;
    box-shadow: 0 1px 0 0 #000 !important;
  }
  .input-field textarea:focus + label {
    color: #990012 !important;
  }

/* LEADERBOARDAPP STYLING */
table {
  background-color: white;
  font-size: 1.2rem;
}

table.bordered>tbody>tr:last-child {
  border-bottom: 0;
} 

.app-title {
  border-radius: 15px 15px 0 0;
  background-color: #990012;
  color: white;
  padding-bottom: 10px;
  margin-bottom: 0
}
.rank {
  font-family: "Orbitron", sans-serif;
}
.sort-btn:hover {
  cursor: pointer
}

.material-icons.md-30 {
  margin: 0 2px 0 5px;
  font-size: 30px; 
}

.table-div {
  border-radius: 15px 15px 0 0;
  padding-bottom: 1px;
}

.user-img  {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

/* WEATHERAPP STYLING */
#weatherPic {
  border-radius: 0 8px 8px 0 !important;
}

/* RECIPEAPP STYLING */
.collapsible-header {
  font-size: 1.4rem;
}

.recipe-body {
  color: black !important;
}

.recipe-body ul li {
  font-size: 1.1rem;
}

/* WIKIAPP STYLING */
#blank-search {
  margin: 100px 0;
}

.wiki-space {
  max-height: 650px;
  overflow: scroll;
}

/* TWITCHAPP STYLING */
.user-logo {
  height: 100px;
  width: 100px;
}