/* 
	site accent colors: #bc002d;
	on hover: #FBB829;
*/

body {
  margin: 0;
  padding: 0;
  font-family: "Didact Gothic", "Century Gothic";
  background-color: #f5f5f5;
}

/* General styling rules */
span {
	color: #990012;
}

a {
	color: #000;
	transition: .5s;
}

a:hover {
	color: #FBB829 !important;
}

button {
  transition: .5s;
}

button:hover {
  color: #FBB829 !important;
}

.accent {
	color: #bc002d !important;
}

.hidden {
	display: none !important;
}

.card-panel {
	padding: 12px 24px 12px 24px !important;
  border-radius: 8px;
}

.no-margin-top {
	margin-top: 0 !important;
}

.no-margin-bot {
	margin-bottom: 0 !important;
}

.active {
  color: #990012;
}

/* Banner styling rules */
.banner-image {
	background: url(https://i.imgur.com/3VuMkuL.jpg?2) no-repeat center center;
}

.banner-image2 {
	background: url(https://i.imgur.com/3VuMkuL.jpg?2) no-repeat center center;
}

.author-showcase {
	margin-top: 20px;
}

.banner-text {
	color: white;
  text-shadow: -5px 5px 8px #000;
}

/* Home > About styling rules */
.article {
	white-space: pre-line;
}

.fa {
	color: #990012;
	transition: .5s;
}

.fa:hover {
	color: #FBB829;
}

.footer {
  margin: 0 auto;
  width: 600px;
}

/* Sidebar styling rules */
.sidebar-img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.sidebar-btn {
  background-color: #990012;
  margin: 60px 0 0;
  padding-right: 12px !important;
  position: absolute;
  font-size: 26px;
  transition: .5s;
}

.sidebar-btn:hover, .sidebar-btn a:hover {
	color: #FFF !important;
	padding-left: 60px !important;
	background-color: #FBB829;
}

.cool-arrow {
	transition: .5s;
}

.cool-arrow:hover {
}

.sidebar-profile a {
  font-size: 1.5rem !important;
  color: #fff !important;
  text-shadow: 4px 4px 7px #000 !important;
}

.sidebar-header {
	font-size: 1.8rem !important;
  text-align: center;
}

.sidebar-link {
	font-size: 1.2rem !important;
  text-align: center;
}

.sidebar-hr {
	width: 50%;
}

/* My Apps page styling */
.app-btn {
	background-color: #990012 !important;
	-webkit-appearance: none;
  transition: .5s;
}

/* Styling for the materialize forms */

/* label focus color */
  .input-field input[type=text]:focus + label {
    color: #990012 !important;
  }
/* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #990012 !important;
    box-shadow: 0 1px 0 0 #000 !important;
  }
/* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #990012 !important;
    box-shadow: 0 1px 0 0 #ff9800 !important;
  }
/* icon prefix focus color */
  .input-field .prefix.active {
    color: #990012;
  }

/* LeaderboardApp styling */
.app-title {
  border-radius: 15px 15px 0 0;
  background-color: #990012;
  color: white;
  padding-bottom: 10px;
  margin-bottom: 0
}

.sort-btn:hover {
  cursor: pointer
}

.material-icons.md-30 {
  margin: 0 2px 0 5px;
  font-size: 30px; 
}

.table-div {
  border-radius: 15px 15px 0 0;
  padding-bottom: 1px;
}

.user-img  {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

/* RecipeApp styling */
.recipe-body {
  color: black !important;
}